.classpath
.project
.settings
eclipsebin

bin
gen
build
out

target
pom.xml.*
release.properties

.idea
*.iml
*.ipr
*.iws
.gradle
*.log
stroketextview/local.properties
stroketextview/project.properties
sample/libs/
sample/src/androidTest/
sample/src/main/res/drawable/
sample/src/test/
stroketextview/libs/
stroketextview/src/androidTest/
stroketextview/src/main/res/drawable/
stroketextview/src/test/
